<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<span ng-show="BlogsWaitingForApproval.length==0">No Blogs Waiting for approval</span>
<div class="container">
<div class="row" style="width:600px">
<div ng-repeat="blog in BlogsWaitingForApproval">
<div class="panel panel-info">
<div class="panel-heading">
<a href="#/getblognotapproved/{{blog.id}}">{{blog.blogTitle}}</a>
</div>
<div class="panel-body">
<b>Posted On:</b> {{blog.postedon | date:'medium'}}</br>
<b>Posted By:</b>{{blog.postedBy.firstname}} &nbsp {{blog.postedBy.lastname}}

</div>


</div>


</div>




</div>

</body>
</html>