<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="panel panel-info">
<div class="panel-heading">
<a>{{blog.blogTitle}}</a>
<b>Posted On:</b> {{blog.postedon | date:'medium'}}</br>
<b>Posted By:</b>{{blog.postedBy.firstname}} &nbsp {{blog.postedBy.lastname}}
</div>
<div class="panel-body">
<p ng-bind-html="content"></p>
</div>
</div>

<button type="button" class="btn btn-primary" ng-click="approve(blog)" ng-hide="rejectionTxt">Approve</button> &nbsp 
<button type="button" class="btn btn-warning" ng-click="showRejectionTxt()" ng-hide="rejectionTxt">Reject</button><br>
<div ng-show="rejectionTxt">
Rejection Reasion
<textarea ng-model="rejectionReason"></textarea>
<button type="button" class="btn btn-warning" ng-click="reject(blog)">Submit</button>
</div>

</body>
</html>