<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<div class="row" style="width=300px">
<div class="panel panel-info">
<div class="panel-heading">
{{job.jobtitle}}
</div>
<div class="panel-body">
<b>Job Description</b> : {{job.jobdescription}}<br>
<b>Skills Required</b> : {{job.skillsRequired}}<br>
<b>Location</b> : {{job.location}}<br>
<b>Years Of Experience</b> : {{job.yrsofExp}}<br>
<b>Company Name</b> : {{job.companyName}}<br>
<b>Salary</b> : {{job.salary}}<br>
<b>Posted On</b> : {{job.postedon | date:'medium'}}

</div>

</div>

</div>

</div>

<a href="#/alljobs">Back to Previous Page-->Get All Jobs</a>
</body>
</html>